//- p= viajes  //-  si se le agrega  un signo de = ya espera una variable

extends ./index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="BHLS", class="img-fluid")
            .col-md-7            
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolores et accusamus inventore earum, enim,
                    id at illo repudiandae pariatur sed voluptas ratione iure dolore hic reprehenderit impedit illum vero. Lorem ipsum dolor sit 
                    amet consectetur adipisicing elit. Incidunt aperiam provident, sit fuga quae delectus quidem pariatur officia repellendus totam 
                    earum voluptate labore corporis atque maxime aut vitae ab sed?.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolorem architecto, quos adipisci omnis possimus natus quam explicabo, 
                    deleniti dolorum consectetur cum esse non officia voluptate commodi minus? Exercitationem, doloribus. Lorem ipsum dolor sit, 
                    amet consectetur adipisicing elit. Voluptatum, magnam quae totam magni quis dolore vitae unde voluptate nam corrupti quidem, 
                    numquam nisi, ullam fugit laboriosam eveniet! Nostrum, harum enim?
    
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="ico de seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut recusandae eos vero
                        impedit odit! A quibusdam veritatis repudiandae, fuga, veniam animi libero velit
                        earum quas dolorum tempora explicabo, cum neque.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="ico de destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut recusandae eos vero
                        impedit odit! A quibusdam veritatis repudiandae, fuga, veniam animi libero velit
                        earum quas dolorum tempora explicabo, cum neque.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="ico de precios" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut recusandae eos vero
                        impedit odit! A quibusdam veritatis repudiandae, fuga, veniam animi libero velit
                        earum quas dolorum tempora explicabo, cum neque.